@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font-lato: "Lato", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-montserrat:"Montserrat", sans-serif;
    --font-inter:"Inter", sans-serif;

    --color-dark:#1B262C;
    --color-semidark:rgba(15, 76, 117, 0.7);
    --color-light:#3282B8;
    --color-vlight:#BBE1FA;
}
.dark-mode {
    --color-dark:#F4EEFF;
    --color-semidark:rgba(220, 214, 247, 0.7);
    --color-light:#A6B1E1;
    --color-vlight:#424874;
}
/* ALL TAGS */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background-color: var(--color-dark);
    color: var(--color-vlight);
    font-family: var(--font-inter);
    text-align: justify;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    border-radius: 4px;
}
/* NAVBAR */
.navbar{
    position:sticky;
    top: 0.5rem; 
    z-index: 100; 
    padding: 0.6rem;
    border-radius: 1rem;
    margin: 0.5rem 30% 0 30%;
    transition: background-color 0.3s ease; 

}
.navbar.active {
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.list-nav{
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.list-nav a{
    color: var(--color-vlight);
    font-weight: 500;
    font-size: 1rem;
}
.toggle-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 24px;
    color: var(--color-vlight);
    transition: transform 2s ease;
}

.toggle-button:hover {
    transform: scale(1.2);
}
.list-nav li a.active {
    opacity: .7;
    text-decoration:underline;
    border-radius: 4px; 
}
/* HOME */
#home{
    height: 60vh;
    /* position: relative; */
}
.home{
    min-height: 100vh;
    position: relative;
    margin: 0 10%;
    padding-top: 10rem;
    font-family: var(--font-poppins);

}
.text{
    color: var(--color-light);
    position: relative;
}
.home .text.first{
    color: var(--color-vlight);
}
.home .text.sec::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark);
    border-left: 2px solid var(--color-vlight);
    animation: animate 4s steps(12) infinite;
}
@keyframes animate {
    40%,60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}
.btn-cv{
    display: block;
    padding: 1.1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-dark);
    background-color: var(--color-vlight);
    margin-top: 3rem;
}
.btn-cv a{
    color: var(--color-dark);
    font-weight: 700;
    font-family: var(--font-poppins);
}
.btn-cv:hover{
    opacity: .7;
}
.social{
    font-size: 1.9rem;
    line-height: 20rem;
    width: fit-content;
    height: fit-content;
}
.social a{
    color: var(--color-vlight);
}
.social a:hover{
    opacity: .6;
}
.icon-home{
    display: flex;
    float: right;
    margin-top: -10%;
    margin-right: 10%;
    height: 450px;
    position: relative;
}
/* ABOUT */
#about{
    min-height: 100vh;
    margin: 0 10%;
    padding-top: 4.5rem;
}
.tag-name{
    text-align: center;
    font-family: var(--font-poppins);
}
.detail-about{
    margin: 0 10%;
    padding: 2rem;
}
/* PROJECT */
#project{
    padding-top: 4.5rem;
    min-height: 100vh;
    margin: 0 10% 2% 10%;
}
.tag-project{
    margin-bottom: 1rem;
}
.grid{
    width: 100%;
    gap: 20px; 
    display:grid;
    grid-template-columns: repeat(4,1fr); 
    gap: 20px; 
}

.detail-project {
    display: flex;
    flex-direction: column; 
    border: 1px solid var(--color-vlight);
    padding: 1rem;
    border-radius: 1rem;
    height: 100%; 
    position: relative; 
}
.detail-project img{
    width: 100%;
    height: auto;
}

.visit {
    margin-top: auto; 
    background-color: var(--color-vlight);
    text-align: center;
    padding: 0.3rem;
    border-radius: 4px;
}
.btn-visit{
    color: var(--color-dark);
    font-weight: bold;
    font-family: var(--font-poppins);
}
.stack{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.stack span{
    border-radius: 4px;
    padding: 4px;
}
.stack i{
    font-size: 2rem;
    height: fit-content;
}
.stack .js{
    color: #F7DF1E;
}
.stack .html{
    color: #E44D26;
}
.stack .css{
    color:#1572B6;
}
.stack .php{
    color: #8993BE;
    font-size: 1rem
}

/* LICENSI */
#licensi{
    padding-top: 4.5rem;
    min-height: 100vh;
}
.tag-licensi{
    margin-bottom: 1rem;
}
.detail-licensi {
    display: flex;
    flex-direction: column; 
    border: 1px solid var(--color-vlight);
    padding: 1rem;
    border-radius: 1rem;
    height: 100%; 
    position: relative; 
}
.detail-licensi img{
    width: 100%;
    height: auto;
}
/* MEDIA QUERIES untuk Responsivitas */
@media (max-width: 768px) {
    .navbar {
        margin: 0.5rem 5%; 
    }

    .list-nav {
        flex-direction: flex;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr); /* 2 kolom untuk mobile */
    }

    .detail-project {
        padding: 0.5rem;
    }

    .social {
        font-size: 1.5rem; /* Mengurangi ukuran sosial media */
        line-height: 10rem; /* Mengurangi line-height */
    }
    .text.first{
        font-size: 1.5rem;
    }
    #licensi{
        padding-top: 3.5rem;
        min-height: 100vh;
    }
    #project{
        padding-top: 3.5rem;
        min-height: 100vh;
        margin: 0 10% 2% 10%;
    }
    #about{
        min-height: 100vh;
        margin: 0 10%;
        padding-top: 3.5rem;
    }
    .icon-home{
        float: none;
        margin: -14% 10% 0 10%;
        height: 350px;
        top: 1;
        position: relative;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 0.4rem;
    }

    .list-nav a {
        font-size: 0.9rem; /* Mengurangi ukuran font */
    }

    .grid {
        grid-template-columns: 1fr; /* 1 kolom untuk mobile */
    }

    .home {
        margin: 0 5%;
        padding-top: 5rem; /* Mengurangi padding untuk mobile */
    }
    .detail-about{
        font-size: 0.8rem;
        margin: 0;
    }
    .detail-about,
    .detail-licensi {
        padding: 1rem; /* Mengurangi padding */
    }
    .text.first{
        font-size: 1rem;
    }
    .text.sec{
        font-size: 0.8rem;
    }
    #licensi{
        padding-top: 3rem;
        min-height: 100vh;
    }
    #project{
        padding-top: 3rem;
        min-height: 100vh;
        margin: 0 10% 2% 10%;
    }
    #about{
        min-height: 100vh;
        margin: 0 10%;
        padding-top: 3rem;
    }
    .icon-home{
        float: none;
        margin: -10% 10% 0 10%;
        height: 250px;
        top: 1;
        position: relative;
    }
}
